.wip {
  visibility: visible;
}

.wip.highlight {
  outline: 1px solid #ff0 !important;
  background: #ff0;
}

.wip.hidden {
  visibility: hidden;
}

.piw {
  visibility: visible;
}

.piw.highlight {
  outline: 1px solid #0ff !important;
  background: #0ff;
}

.piw.hidden {
  display: none;
}

